In [1]:
import glob
import pandas as pd
import numpy as np
import csv
from datetime import datetime
from pandas.io.parsers import read_csv

In [3]:
path2 =r'C:\Users\LENOVO USER\Desktop\USC Data Bootcamp\18-Tableau\Data2'

#store all csv file names into a list through glob (pathname)
allFiles2 = glob.glob(path2 + "/*.csv")

In [4]:
with open('citi_bike2.csv', 'a') as mergedCSV2:
    for csv_x2 in allFiles2:
        for line in open(csv_x2, 'r'):
            mergedCSV2.write(line)

In [5]:
merged_file2 = "C:/Users/LENOVO USER/Desktop/USC Data Bootcamp/18-Tableau/citi_bike2.csv"

merged_df2 = pd.read_csv(merged_file2, encoding="ISO-8859-1")

#check
merged_df2.head()

C:\Users\LENOVO USER\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (0,3,5,6,7,9,10,11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,61,2015-09-21 14:53:16,2015-09-21 14:54:17,3185,City Hall,40.7177325,-74.043845,3185,City Hall,40.7177325,-74.043845,24722,Subscriber,1975,1
1,290,2015-09-21 14:55:59,2015-09-21 15:00:50,3183,Exchange Place,40.7162469,-74.0334588,3187,Warren St,40.7211236,-74.03805095,24388,Customer,NaN,0
2,786,2015-09-21 14:56:14,2015-09-21 15:09:21,3183,Exchange Place,40.7162469,-74.0334588,3183,Exchange Place,40.7162469,-74.0334588,24442,Subscriber,1962,1
3,477,2015-09-21 14:58:35,2015-09-21 15:06:32,3203,Hamilton Park,40.727595966,-74.044247311,3203,Hamilton Park,40.727595966,-74.044247311,24678,Subscriber,1977,2
4,451,2015-09-21 14:59:55,2015-09-21 15:07:27,3203,Hamilton Park,40.727595966,-74.044247311,3186,Grove St PATH,40.71958611647166,-74.04311746358871,24574,Subscriber,1977,2